@import "tailwindcss";

@theme {
  --font-oxanium: "Oxanium", sans-serif;
  --font-ibm: "IBM Plex Mono", monospace;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}
